<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.globalgrupp.couriers.app" >


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.globalgrupp.greenlight.greenlightclient.permission.C2D_MESSAGE" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-feature android:name="android.hardware.camera"  android:required="false" />
    <application



        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >


        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyBi1fRt6mjWZy6T4QLlplSYavhHiW-8j1g"/>

        <activity
            android:name=".MainActivity"
            android:label="Задачи" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".controller.TaskDetailActivity"
                android:label="Адреса" />
        <activity
                android:name=".controller.ResultActivity"
                android:label="Результат" />
        <activity
                android:name=".controller.CreateResultActivity"
                android:label="" />
        <activity
                android:name=".controller.ViewResultActivity"
                android:label="Просмотр" />
        <activity
                android:name=".controller.AboutActivity"
                android:label="О пользователе" />
        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />
        <receiver android:name=".service.GCMUpdateReceiver">
        <intent-filter>
            <action android:name="android.intent.action.PACKAGE_REPLACED" />
            <data android:scheme="package" android:path="com.globalgrupp.couriers.app"  />
        </intent-filter>
        </receiver>

    </application>

</manifest>
